<?xml version='1.0' encoding='utf-8'?>
<widget id="p1788215301263ekjgq" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ovo-parkour</name>
    <description>
        Gerado pelo Maks.
    </description>
    <author email="voce@email.com" href="https://cordova.apache.org">
        Voce
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />
    <icon src="res/icon.png" />
    <icon density="ldpi" src="res/icon.png" />
    <icon density="mdpi" src="res/icon.png" />
    <icon density="hdpi" src="res/icon.png" />
    <icon density="xhdpi" src="res/icon.png" />
    <icon density="xxhdpi" src="res/icon.png" />
    <icon density="xxxhdpi" src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
    </platform>
</widget>
